@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-container{
    overflow-y: scroll;
    max-height: 80vh;
    padding: 0 2rem;
}

.scrollable-container::-webkit-scrollbar {
    width: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}