$darkBlue: #1E3851;
$color:#add8e6;

.liveUrlBtn{
  margin:0;
  background-color: transparent;
  border: 1px solid $color;
  border-radius: 5px;
  color: $color;
  padding: 5px 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:hover{
    border: 1px solid transparent;
    background-color: $color;
    color: #fff;
  }
}